aiortc==1.0.0
python3-distutils
setuptools
cmake==3.21.1
opencv-python
streamlit-webrtc
tensorflow==2.5.0
scikit-learn==0.24.2
imutils==0.5.4
opencv-contrib-python==4.5.3.56
pickle-mixin
av
